$bp-multi-column: 580px

$day_width_percent: 14.2857%

$details-bg: rgb(240, 240, 240)
$details-border: 1px solid rgb(200, 200, 200)

$bg-default: rgb(240, 240, 240)
$bg-atlanta: rgb(200, 200, 200)
$bg-ischia: rgb(106, 172, 66)
$bg-chieti: rgb(253, 176, 11)
$bg-naples: rgb(35, 255, 252)
$bg-taormina: rgb(226, 196, 104)
$bg-palermo: rgb(250, 191, 255)
$bg-roma: rgb(188, 28, 28)

$item-has-details: rgb(41, 83, 169)
